body{
    background-color:#eecace;
    text-align:center;
    align-items:center;
    }

    #link1{
        padding: 5px 10px; 
        border: 2px solid #ec63cf; 
        background-color: #f5b9eb; 
        color: #f334c3;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px; 
        transition: all 0.3s ease; 
    
    }
    
    #link2{
        padding: 5px 10px; 
        border: 2px solid #ec63cf; 
        background-color: #f5b9eb; 
        color: #f334c3;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px; 
        transition: all 0.3s ease;
    }