

body{
background-color:pink;
text-align:center;
align-items:center;
}

#banner-estetica{ 
    display: flexbox;
    text-align: center;
    height:200px;
    width:300px;
    border: 8px solid #df9dce;



}