

body{
background-color:#fee5e8;
text-align:center;
align-items:center;
}

#banner-estetica{ 
    display: flexbox;
    text-align: center;
    height:200px;
    width:300px;
    border: 4px solid #f6c7ea;
}

#paragrafo1{
    color: #f9b5e8;
}

#paragrafo3{
    color: #d579be;
}

